.experiencia__destaque {
    color: #464646;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
    .experiencia__destaque {
        font-size: 22px;

    }
}