.experiencia__item {
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    .experiencia__item {
        display: flex;
        flex-direction: row;
        margin-bottom: 3rem;
    }

    .experiencia__item:nth-child(even) {
        flex-direction: row-reverse;
    }
}

